@using WebSchool.ViewModels.Group
@model GroupSettingsViewModel  

@{
    Layout = "_Layout";
    ViewData["Title"] = "Administration";
}

<main class="container">
    <h1>Administration</h1>
    <section class="mt-3 mb-3">
        <a asp-controller="Administration" asp-action="Members" asp-route-groupId="@Model.Id" class="btn btn-primary">
            <span class="badge bg-light text-dark">@Model.MembersCount</span>
            <i class="fas fa-users"></i>
            Members page
        </a>
        <a asp-controller="Administration" asp-action="Applications" asp-route-groupId="@Model.Id" class="btn btn-primary">
            <span class="badge bg-light text-dark">@Model.ActiveApplicationsCount</span>
            <i class="fas fa-address-card"></i>
            Applications page
        </a>
        <a asp-controller="Administration" asp-action="Posts" asp-route-groupId="@Model.Id" class="btn btn-primary">
            <span class="badge bg-light text-dark">@Model.PostsCount</span>
            <i class="fas fa-newspaper"></i>
            Posts page
        </a>
    </section>

    <section class="edit-name-section">
        <h2>Change group name</h2>
        <form id="changeNameForm" asp-controller="Administration" asp-action="ChangeGroupName" method="post" class="w-50">
            <div id="errorMessages" asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />

            <div class="mb-3">
                <label for="groupNameInput" class="form-label">Group name</label>
                <input class="form-control" asp-for="Name" id="groupNameInput" />
            </div>

            <button id="changeNameButton" class="btn btn-primary w-25 mb-2">Save changes</button>
        </form>
    </section>
</main>

@section Scripts {
    <script src="~/js/administration.js"></script>
}