@using WebSchool.ViewModels.Users
@model UserViewModel[]

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Members";
}

<main class="float-left w-50 pl-3">
    <h1>Members</h1>

    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr class="h4">
                <th>Member</th>
                <th>Settings</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <td class="h5 pt-2">@member.Email</td>
                    <td><a asp-controller="Members" asp-action="Settings" asp-route-memberId="@member.Id" asp-route-groupId="@ViewData["GroupId"]" class="btn btn-primary w-100">Settings</a></td>
                    <td><a asp-controller="Members" asp-action="Remove" asp-route-memberId="@member.Id" asp-route-groupId="@ViewData["GroupId"]" class="btn btn-danger w-100">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>