@using WebSchool.ViewModels.Post
@model PostViewModel[]

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Posts";
}

<main class="float-left w-75 pl-3">
    <h1>Posts</h1>

    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Creator</th>
                <th>Content Overview</th>
                <th>Comments</th>
                <th>Created On</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var post in Model)
            { 
                <tr >
                    <td class="pt-2 h5">@post.Creator</td>
                    <td class="pt-2 h5">@post.Content</td>
                    <td class="pt-2 h5">@post.CommentsCount</td>
                    <td class="pt-2 h5">@post.CreatedOn.ToShortDateString()</td>
                    <td><a asp-controller="Posts" asp-action="Index" asp-route-postId="@post.Id" class="btn btn-info w-100 text-white">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>