@using WebSchool.ViewModels.Users
@model MemberViewModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Member";
}

<main class="container col-md-4 offset-md-4">
    <h1>Member Settings</h1>

    <section>
        <p class="h5">Email: @Model.Email</p>

        <form asp-controller="Members" asp-action="SaveChanges" method="post">
            <input type="hidden" name="memberId" value="@Model.Id" />
            <input type="hidden" name="groupId" value="@Model.GroupId" />

            <div class="mb-3">
                <label for="role">Role: </label>
                <select class="form-control" id="role" name="role">
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>

            <button class="btn btn-primary w-100">Save Changes</button>
        </form>

        <a asp-controller="Members" asp-action="Remove" asp-route-memberId="@Model.Id" asp-route-groupId="@Model.GroupId" class="btn btn-danger mt-3" id="removeButton">Remove Member</a>
    </section>
</main>

@section Scripts {
    <script>
        const roleSelect = document.getElementById('role');
        roleSelect.value = "@Model.Role";

        const removeButton = document.getElementById('removeButton');
        removeButton.onclick = (event) => {
            const removeConfirm = confirm("Are you sure you want to remove this user ?");
            if (removeConfirm === false) {
                event.preventDefault();
            }
        }
    </script>
} 