@using WebSchool.ViewModels.Group
@using WebSchool.Common.Enumerations;
@model GroupViewModel

@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}

<div class="container text-center">
    <h1 class="mb-3">@Model.Name</h1>
    <a asp-controller="Posts" asp-action="Create" asp-route-groupId="@Model.Id" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i>
        New Post
    </a>

    <!-- Action buttons -->
    @if (Model.UserRole == GroupRole.Admin)
    {
        <a asp-controller="Administration" asp-action="Index" asp-route-groupId="@Model.Id" class="btn btn-primary">
            <i class="fas fa-cog"></i>
            Administration
        </a>
    }
    else if (Model.UserRole == GroupRole.Teacher)
    {
        <a asp-controller="Assignments" asp-action="Give" asp-route-groupId="@Model.Id" class="btn btn-primary">
            <i class="fas fa-file-alt"></i>
            Give assignment
        </a>
    }

    <!-- Posts -->
    <section class="col-md-10 offset-md-1 mt-3 text-start">
        @foreach (var post in Model.NewestPosts)
        {
            <article>
                <a class="text-decoration-none text-dark" asp-controller="Posts" asp-action="Index" asp-route-postId="@post.Id">

                    <h2>@post.Title</h2>
                    <p>@post.Content</p>
                    <div>
                        <span class="badge bg-success">By @post.Creator</span>
                        <span class="badge bg-primary">@post.Comments.Length Comments</span>
                        <span class="badge bg-secondary">Posted @post.CreatedOn</span>

                        @if (post.IsCreator == true)
                        {
                            <div class="badge bg-warning">
                                <a class="text-decoration-none text-light" asp-controller="Posts" asp-action="Edit" asp-route-postId="@post.Id">
                                    <i class="fas fa-edit"></i>
                                    Edit
                                </a>
                            </div>

                            <div class="badge bg-danger delete-post" onclick="deletePost(event, '@post.Id')">
                                <a href="#" class="text-decoration-none text-light">
                                    <i class="fas fa-trash-alt"></i>
                                    Delete
                                </a>
                            </div>
                        }
                    </div>
                </a>
            </article>

            <hr />
        }
    </section>

    <!-- Toast Message -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <div class="rounded me-2 bg-primary text-white pe-md-2 ps-md-2">Message</div>
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastMessage">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/group.js"></script>
}