@using WebSchool.ViewModels.Group
@model GroupViewModel

@{ 
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/group.css" />

<main class="group">
    <h1>@Model.Name</h1>

    <a asp-controller="Posts" asp-action="Create" asp-route-groupId="@Model.Id" class="create-post-button" id="formTogglerButton">
        <i class="fas fa-plus-circle"></i>
        Create new post
    </a>

    <section class="posts">
        @foreach(var post in Model.NewestPosts)
        {
            <article class="post">
                <a class="post-link" asp-controller="Posts" asp-action="Index" asp-route-postId="@post.Id">
                    <h3 class="post-creator">@post.Creator</h3>
                    <p class="post-content">@post.Content</p>
                    <div class="post-info">
                        <span class="post-comments">@post.CommentsCount Comments</span>
                        <span class="post-date">@post.CreatedOn</span>
                    </div>
                </a>
            </article>
        }
    </section>
</main>

