@using WebSchool.ViewModels.Group
@using WebSchool.Common.Enumerations

@model GroupViewModel

@{ 
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/group.css" />

<main class="group">
    <h1>@Model.Name</h1>

    <div class="mt-3">
        <a asp-controller="Posts" asp-action="Create" asp-route-groupId="@Model.Id" class="create-post-button" id="formTogglerButton">
            <i class="fas fa-plus-circle"></i>
            Create new post
        </a>

        @if (Model.UserRole == GroupRole.Admin)
        {
            <a asp-controller="Administration" asp-action="Index" asp-route-groupId="@Model.Id" class="create-post-button" id="formTogglerButton">
                <i class="fas fa-cog"></i>
                Administration
            </a>
        }
        else if (Model.UserRole == GroupRole.Teacher)
        {
            <a asp-controller="Assignments" asp-action="Give" asp-route-groupId="@Model.Id" class="create-post-button" id="formTogglerButton">
                <i class="fas fa-file-alt"></i>
                Give assignment
            </a>
        }
    </div>

    <section class="posts">
        @foreach (var post in Model.NewestPosts)
        {
            <article class="post">
                <a class="post-link" asp-controller="Posts" asp-action="Index" asp-route-postId="@post.Id">
                    <h3 class="post-creator">@post.Creator</h3>
                    <p class="post-content">@post.Content</p>
                    <div class="post-info">
                        <span class="post-comments">@post.CommentsCount Comments</span>
                        <span class="post-date">@post.CreatedOn</span>
                    </div>
                </a>
            </article>
        }
    </section>
</main>

