@using WebSchool.ViewModels.Group
@using WebSchool.Common.Enumerations

@model GroupViewModel

@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}

<div class="container text-center">
    <h1 class="m-3">@Model.Name</h1>

    <section class="col-md-10 offset-md-1 mt-3 text-start">
        @foreach (var post in Model.NewestPosts)
        {
            <article>
                <h2><a class="text-decoration-none text-dark" asp-controller="Posts" asp-action="Index" asp-route-postId="@post.Id">@post.Title</a></h2>
                <p>@post.Content</p>
                <div>
                    <span class="badge bg-success">By @post.Creator</span>
                    <span class="badge bg-primary">@post.CommentsCount Comments</span>
                    <span class="badge bg-secondary">Posted @post.CreatedOn</span>

                    @if (post.IsCreator == true)
                    {
                        <span class="badge bg-danger float-end ms-3">
                            <a class="text-decoration-none text-light h6" href="#">Delete</a>
                        </span>

                        <span class="badge bg-warning float-end">
                            <a class="text-decoration-none text-light h6" href="#">Edit</a>
                        </span>
                    }

                </div>
            </article>

            <hr />
        }
    </section>
</div>

