@using WebSchool.ViewModels.Group
@using WebSchool.ViewModels.Post
@model GroupViewModel

@{ 
    ViewData["Title"] = Model.Name;
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/group.css" />

<partial name="_SideBar" />

<main class="group">
    <h1>@Model.Name</h1>

    <button class="create-post-button" id="formTogglerButton">
        <i class="fas fa-plus-circle"></i>
        Create new post
    </button>

    <form asp-controller="Posts" asp-action="Create" method="post" class="post-create-form" id="postForm">
        <input type="hidden" asp-for="Id" name="groupId"/>
        <textarea name="content" class="post-textarea" placeholder="Post content..."></textarea>
        <button type="submit" class="post-form-button">Create</button>
        <button class="post-form-button" type="button" id="cancelButton">Cancel</button>
    </form>

    <section class="posts">
        @foreach(var post in Model.NewestPosts)
        {
            <article class="post">
                <a class="post-link" asp-controller="Posts" asp-action="Index" asp-route-postId="@post.Id">
                    <h3 class="post-creator">@post.Creator</h3>
                    <p class="post-content">@post.Content</p>
                    <div class="post-info">
                        <span class="post-comments">@post.CommentsCount Comments</span>
                        <span class="post-date">@post.CreatedOn</span>
                    </div>
                </a>
            </article>
        }
    </section>
</main>

@section Scripts {
    <script>
        const formTogglerButton = document.getElementById('formTogglerButton');
        const postForm = document.getElementById('postForm');
        const cancelButton = document.getElementById('cancelButton');

        formTogglerButton.addEventListener('click', () => {
            formTogglerButton.style.display = 'none';
            postForm.style.display = 'block';
        });

        cancelButton.addEventListener('click', () => {
            formTogglerButton.style.display = 'inline';
            postForm.style.display = 'none';
        });
    </script>
} 