@{
    Layout = "_Layout";
    int counter = 1;
}

@model ICollection<WebSchool.ViewModels.User.StudentResultViewModel>

<div class="row">
    <div class="col-md-10 offset-1 text-center">
        <h3>Assignment Result</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">DueDate</th>
                    <th scope="col">Points</th>
                    <th scope="col">Stage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@(counter++)</td>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                        <td>@student.DueDate</td>
                        <td>@student.Points</td>
                        <td>
                            @{
                                if (student.Stage == 1)
                                {
                                    <button class="btn btn-primary w-75" disabled>Not Solved</button>
                                }
                                else if (student.Stage == 2)
                                {
                                    <a asp-area="Teacher" asp-controller="Assignment" asp-action="Review" asp-route-StudentId="@student.StudentId" asp-route-AssignmentId="@student.AssignmentId" class="btn btn-warning w-75 text-white">Review</a>
                                }
                                else if (student.Stage == 3)
                                {
                                    <button class="btn btn-success w-75" disabled>Rated</button>
                                }
                                else if (student.Stage == 4)
                                {
                                    <button class="btn btn-danger w-75" disabled>Late</button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>