@using WebSchool.ViewModels.Assignment
@model CreateAssignmentInputModel 

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Create assignment";
}

<main class="container col-md-6 offset-md-3">
    <h1>Create assignment</h1>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-controller="Assignments" asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" placeholder="Assignment title" />
        </div>

        <hr />

        <section id="questionsSection">
            @{

                if (Model != null && Model.Questions != null)
                {
                    var currentQuestionIndex = 0;
                    foreach (var question in Model.Questions)
                    {
                        <div class="mb-3">
                            <label class="form-label">#@(currentQuestionIndex + 1) Question</label>

                            <div class="mb-3 multiple-answers">
                                <label class="form-label">Multiple answers: </label>
                                <input type="checkbox" checked="@question.HasMultipleAnswers" class="form-check-input ms-2 mutliple-answers" />
                            </div>

                            <div class="mb-3 points">
                                <label class="form-label">Points: </label>
                                <input type="number" class="form-control w-25 d-inline-block ms-2" placeholder="Points" value="@question.Points" />
                            </div>

                            <textarea class="form-control mb-3" placeholder="Question">@question.Question</textarea>

                            <section>
                                @{
                                    if (question.Answers != null)
                                    {
                                        foreach (var answer in question.Answers)
                                        {
                                            <div class="mb-3">
                                                @if (question.HasMultipleAnswers)
                                                {
                                                    <input type="checkbox" class="form-check-input align-baseline me-2" checked="@answer.IsCorrect" />
                                                }
                                                else
                                                {
                                                    <input type="radio" class="form-check-input align-baseline me-2" checked="@answer.IsCorrect" />
                                                }

                                                <input class="form-control w-75 d-inline-block" value="@answer.Content" placeholder="Answer" />

                                                <button onclick="deleteAnswer(event)" type="button" class="btn btn-danger" style="margin-top: -5px">
                                                    <i class="fa fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        }
                                    }
                                }
                            </section>

                            <button type="button" class="btn btn-primary add-answer">Add answer</button>
                            <hr />
                        </div>
                        currentQuestionIndex++;
                    }
                }
            }
        </section>

        <button onclick="addNewQuestion()" type="button" class="btn btn-primary">Add question</button>

        <button class="btn btn-primary" onclick="createAssignment()">Create assignment</button>
    </form>
</main>

@section Scripts {
    <script src="~/js/assignments/create.js"></script>
}