@using WebSchool.ViewModels.Assignment
@using WebSchool.Common.Enumerations
@model MyAssignmentViewModel[]

@{
    Layout = "_Layout";
    ViewData["Title"] = "My assignments";
}

<main class="container col-md-8 offset-md-2">
    <h1>My Assignments</h1>
    <hr />
    <div class="mt-3">
        <h4>Active assignments</h4>
        @{
            var activeAssignment = Model
                .Where(a => a.Status == GivenAssignmentStatus.StillGoing && a.IsSolved == false)
                .ToArray();

            if (activeAssignment.Length == 0)
            {
                <p>You have not active assignments</p>
            }
            else
            {
                <table class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Group name</th>
                            <th>Due date</th>
                            <th>Status</th>
                            <th>Solve</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var assignment in activeAssignment)
                        {
                            <tr>
                                <td class="align-middle">@assignment.Title</td>
                                <td class="align-middle">@assignment.GroupName</td>
                                <td class="align-middle">@assignment.DueDate.ToLocalTime()</td>
                                <td>
                                    @if (assignment.Status == GivenAssignmentStatus.StillGoing)
                                    {
                                        <a class="btn btn-primary w-100">Still going</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success w-100">Finished</a>
                                    }
                                </td>
                                <td>
                                    @if (assignment.Status == GivenAssignmentStatus.StillGoing && assignment.IsSolved == false)
                                    {
                                        <a class="btn btn-primary w-100" asp-controller="Assignments" asp-action="Solve" asp-route-groupAssignmentId="@assignment.groupAssignmentId">Solve</a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-warning w-100">Solved</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
    <hr />
    <div class="mt-3">
        <h4>Finished assignments</h4>
        @{
            var finishedAssignments = Model
                .Where(a => a.Status == GivenAssignmentStatus.Finished || a.IsSolved == true)
                .ToArray();

            if (finishedAssignments.Length == 0)
            {
                <p>You have no finished assignments</p>
            }
            else
            {
                <table class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Group name</th>
                            <th>Due date</th>
                            <th>Points</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var assignment in finishedAssignments)
                        {
                            <tr>
                                <td class="align-middle">@assignment.Title</td>
                                <td class="align-middle">@assignment.GroupName</td>
                                <td class="align-middle">@assignment.DueDate.ToLocalTime()</td>
                                <td class="align-middle">@assignment.Points / @assignment.MaxPoints</td>
                                <td>
                                    @if (assignment.Status == GivenAssignmentStatus.StillGoing)
                                    {
                                        <a class="btn btn-primary w-100">Still going</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success w-100">Finished</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
    <hr />
</main>