@using WebSchool.ViewModels.Assignment
@model AssignmentResultSummaryViewModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Results";
} 

<main class="container col-md-8 col-md-2">
    <h1>Assignment results</h1>
    <p>Assignment name: @Model.Title</p>
    <p>Average points: @String.Format("{0:f2}", Model.AveragePoints)</p>

    <table class="table table-striped w-100">
        <thead>
            <tr>
                <th>Student name</th>
                <th width="15%" class="text-center">Points</th>
                <th width="15%" class="text-center">Is solved</th>
                <th width="15%">Preview</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var assignmentResult in Model.Results)
            {
            <tr>
                <td class="align-middle">@assignmentResult.StudentName</td>
                <td class="align-middle text-center">@assignmentResult.Points / @assignmentResult.MaxPoints</td>
                <td>
                    @if (assignmentResult.IsSolved)
                    {
                        <a class="btn btn-success w-100">Solved</a>
                    }
                    else
                    {
                        <a class="btn btn-warning w-100">Not solved</a>
                    }
                </td>
                <td>
                    @if (assignmentResult.IsSolved)
                    {
                        <a asp-controller="Assignments" asp-action="Preview" asp-route-groupAssignmentId="@Model.GroupAssignmentId" asp-route-studentId="@assignmentResult.StudentId" class="btn btn-primary text-light w-100">Preview</a>
                    }
                    else
                    {
                        <a class="btn btn-secondary w-100">Preview</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</main>