<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css" />
    <link href="/lib/font-awesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/bootstrap-5.0.1-dist/css/bootstrap.min.css" />
    <script defer src="/lib/font-awesome/js/all.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Groups" asp-action="Index">WebSchool</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Groups
                                </a>
                                <ul class="dropdown-menu" id="groupList" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Group name</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">All groups</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" href="/Browse/Index">Browse</a>
                            </li>

                            <li class="nav-item">
                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button class="btn btn-link text-light text-decoration-none" type="submit">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main role="main" class="main mb-3 mt-2">
        @RenderBody()
    </main>

    <footer class="footer bg-primary">
        <p class="text-light p-2">Footer</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap-5.0.1-dist/js/bootstrap.bundle.min.js"></script>
    <script>
        if ('@User.Identity.IsAuthenticated' === 'True') {
            const groupList = document.getElementById('groupList');

            fetch('/apiGroups/GetUserGroups')
                .then(response => response.json())
                .then(data => {
                    groupList.innerHTML = '';

                    for (const groupName of data) {
                        const listElement = document.createElement('li');
                        const link = document.createElement('a');

                        link.textContent = groupName;
                        link.classList.add('dropdown-item');
                        link.href = `/Groups/Index?groupName=${groupName}`;

                        listElement.appendChild(link);
                        groupList.appendChild(listElement);
                    }

                    groupList.innerHTML += `
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="/Groups/Create">New group</a></li>
<li><a class="dropdown-item" href="/Groups/All">All groups</a></li>
`;
                })
                .catch(error => {
                    groupList.innerHTML += `
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="/Groups/Create">New group</a></li>
<li><a class="dropdown-item" href="/Groups/All">All groups</a></li>
`;
                });
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>