@{
    Layout = "_Layout";
    int counter = 1;
}

@model ICollection<WebSchool.ViewModels.Assignment.StudentAssignmentViewModel>

<div class="row">
    <div class="col-md-10 offset-1 text-center">
        <h3>Assignments</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Assignment name</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Points</th>
                    <th scope="col">Solve</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var assignments in Model)
                {
                    <tr>
                        <td>@(counter++)</td>
                        <td>@assignments.AssignmentName</td>
                        <td>@assignments.DueDate.Date.ToShortDateString()</td>
                        <td>@assignments.Points / @assignments.MaxPoints</td>
                        <td>
                            <a asp-area="Student" asp-controller="Assignment" asp-action="Solve" asp-route-Id="@assignments.Id" class="btn btn-primary w-75 text-white">Solve</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>