@using WebSchool.ViewModels.Post
@model PostViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Post";
}

<main class="container custom-container">
    <section class="col-md-8 offset-md-2">
        <!-- Post -->
        <article>
            <h2>@Model.Title</h2>
            <p>@Model.Content</p>
            <div>
                <span class="badge bg-success">By @Model.Creator</span>
                <span class="badge bg-primary">@Model.Comments.Length Comments</span>
                <span class="badge bg-secondary">Posted @Model.CreatedOn</span>

                @if (Model.IsCreator == true)
                {
                    <div class="badge bg-warning">
                        <a class="text-decoration-none text-light" asp-controller="Posts" asp-action="Edit" asp-route-postId="@Model.Id">
                            <i class="fas fa-edit"></i>
                            Edit
                        </a>
                    </div>

                    <div class="badge bg-danger">
                        <a class="text-decoration-none text-light" asp-controller="Posts" asp-action="Remove" asp-route-postId="@Model.Id" onclick="deletePost(event)">
                            <i class="fas fa-trash-alt"></i>
                            Delete
                        </a>
                    </div>
                }
            </div>
        </article>

        <h2 class="mt-3">Comments</h2>
        <hr />

        <!-- Comments -->
        @foreach (var comment in Model.Comments)
        {
            <article>
                <p>@comment.Content</p>
                <div>
                    <span class="badge bg-success">By @comment.Creator</span>
                    <span class="badge bg-secondary">Posted @comment.CreatedOn</span>

                    @if (comment.IsCreator == true)
                    {
                        <div class="badge bg-warning">
                            <a class="text-decoration-none text-light" asp-controller="Comments" asp-action="Edit" asp-route-commentId="@comment.Id">
                                <i class="fas fa-edit"></i>
                                Edit
                            </a>
                        </div>

                        <div class="badge bg-danger" onclick="deleteComment(event, '@comment.Id')">
                            <a class="text-decoration-none text-light" href="#">
                                <i class="fas fa-trash-alt"></i>
                                Delete
                            </a>
                        </div>
                    }
                </div>
            </article>
            <hr />
        }

        <!-- Add new comment form -->
        <form asp-controller="Comments" asp-action="Create" method="post" class="mt-3">
            <input type="hidden" name="postId" value="@Model.Id" />

            <div class="mb-3">
                <textarea name="content" rows="4" class="form-control" placeholder="Leave your opinion"></textarea>
            </div>

            <button class="btn btn-primary w-25">Send</button>
        </form>

        <!-- Toast Message -->
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <div class="rounded me-2 bg-primary text-white pe-md-2 ps-md-2">Message</div>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toastMessage">
                    Comment successfully removed
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script src="~/js/post.js"></script>
}