@using WebSchool.ViewModels.Post
@model PostPreviewViewModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Post";
}

<partial name="_Sidebar" />

<main class="post-container">
    <article class="post">
        <header class="post-header">
            <h3 class="post-creator">@Model.Creator</h3>
            <span class="post-date">@Model.CreatedOn</span>
        </header>
        <p class="post-content">@Model.Content</p>
    </article>

    <section class="comments-section">
        @foreach (var comment in Model.Comments)
        {
            <article class="comment">
                <header class="comment-header">
                    <h3 class="comment-creator">@comment.Creator</h3>
                    <span class="comment-date">@comment.CreatedOn</span>
                </header>
                <p class="comment-content">@comment.Content</p>
            </article>
        }

        <form asp-controller="Comments" asp-action="Create" method="post" class="comment-form">
            <input type="hidden" name="postId" value="@Model.Id" />
            <textarea name="content" class="comment-textarea" placeholder="Write your comment..."></textarea>
            <button class="comment-button">Send</button>
        </form>
    </section>
</main>

<style>
    .comment-header {
        font-size: 3vh;
        height: 4vh; 
        background: lightgray;
    }

    .comment-creator {
        padding: 0;
        margin: 0 2%;
        float: left;
    }

    .comment-date {
        padding: 0;
        margin: 0 2%;
        float: right;
    }

    .comment-content {
        text-align: justify;
        font-size: 3vh;
        padding: 1% 2%;
        margin: 0;
    }

    .comments-section {
        text-align: right;
        width: 80%;
        margin: auto;
    }

    .comment {
        text-align: left;
         width: 95%;
         border: 2px solid lightgray;
         border-radius: 5px;
         margin: 1vh 0;
         float: right;
    }

    .post-container {
        text-align: center;
        width: 79.85%;
        float: left;
        height: 93vh;
        overflow-y: auto;
    }

    .post {
        width: 80%;
        margin: 2vh auto;
        border: 2px solid lightgray;
        border-radius: 5px;
    }

    .post-header {
        background: lightgray;
        height: 4vh;
    }

    .post-creator {
        font-size: 3vh;
        padding: 0;
        float: left;
        margin: 0 2%;
    }
    
    .post-date {
        float: right;
        margin: 0 2%;
        font-size: 3vh;
    }

    .post-content {
        text-align: justify;
        font-size: 3vh;
        padding: 1% 2%;
        margin: 0;
    }

    .comment-form {
        text-align: right;
        width: 95%;
        float: right;
    }   

    .comment-textarea {
        max-width: 98%;
        min-width: 98%;
        max-height: 15vh;
        min-height: 15vh;
        font-size: 3vh;
        padding: 1%;
    }

    .comment-button {
        font-size: 3vh;
        width: 20%;
        border: 1px solid black;
        border-radius: 5px;
        background: white;
        transition: background ease 0.3s;
        margin-bottom: 1vh;
    }

        .comment-button:hover {
            cursor: pointer;
            background: #5885AF;
            color: white;
        }

</style>