@using WebSchool.ViewModels.Post
@model PostPreviewViewModel

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Post";
}

<link rel="stylesheet" href="~/css/post.css" />

<main class="post-container">
    <article class="post">
        <header class="post-header">
            <h3 class="post-creator">@Model.Creator</h3>
            <span class="post-date">@Model.CreatedOn</span>
        </header>
        <p class="post-content">@Model.Content</p>
    </article>

    <section class="comments-section">
        @foreach (var comment in Model.Comments)
        {
            <article class="comment">
                <header class="comment-header">
                    <h3 class="comment-creator">@comment.Creator</h3>
                    <span class="comment-date">@comment.CreatedOn</span>
                </header>
                <p class="comment-content">@comment.Content</p>
            </article>
        }

        <form asp-controller="Comments" asp-action="Create" method="post" class="comment-form">
            <input type="hidden" name="postId" value="@Model.Id" />

            <div class="form-group mt-3">
                <textarea name="content" rows="4" class="form-control" placeholder="Write your comment..."></textarea>

            </div>

            <button class="btn btn-primary float-right w-25">Send</button>
        </form>
    </section>
</main>